.Heading{
    margin: 30px;
    padding: 10px;
}
.Add-task{
    border: 2px solid black;
   margin-left: 800px;
    padding: 5px;
    width: 90px;
    font-size: 20px;
}
.list-Heading-ul{
    display: flex;
    gap: 30px;
    font-size: 20px;
    font-weight: bold;
}
.Final-Border{
    border: 2px solid black;
}
